/* ===== Primary Styles ========================================================
   Author: Simon Dahla, www.simondahla.com, hello@simondahla.com
   ========================================================================== */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}